body {
    background-color: #001f3d;
    margin-top: 70px;
    font-family: 'Arial', sans-serif;
    color: white;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-page .login-container {
    width: 94%;
    max-width: 400px;
    padding: 40px;
    background-color: #001f3d;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border: 6px solid transparent;
    text-align: center;
    border-image: linear-gradient(45deg, #bb86fc, #03dac6) 1;
    border-radius: 16px;
}

.login-page .login-form h2 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 28px;
    background-image: linear-gradient(45deg, #bb86fc, #03dac6);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
}

.login-page .input-field {
    width: 94%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #fff;
    background-color: #001f3d;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
}

.login-page .input-field::placeholder {
    color: #bbb;
}

.login-page .submit-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(45deg, #bb86fc, #03dac6);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-page .submit-button:hover {
    background: linear-gradient(45deg, #018786, #bb86fc);
}

.login-page .register-link {
    text-align: center;
    margin-top: 20px;
}

.login-page .register-link span {
    color: #bbb;
}

.login-page .register-button {
    padding: 8px 12px;
    background-color: transparent;
    color: #bb86fc;
    border: 1px solid #bb86fc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-page .register-button:hover {
    background-color: #bb86fc;
    color: #001f3d;
}

.login-page .register-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -5px;
}

.login-page .register-link {
    color: #bb86fc;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 8px;
}

.login-page .register-link:hover {
    color: #03dac6;
}

.error-message {
    color: #ff4081;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.input-error {
    border-color: #ff4081;
    background-color: #3b2c3b;
}
