/* Стилі для сторінки логування */
body {
    background-color: #001f3d;
    margin-top: 70px;
    font-family: 'Arial', sans-serif;
    color: white;
}

.login-page {
    display: flex;
    justify-content: center;  /* Вирівнювання по горизонталі */
    align-items: center;      /* Вирівнювання по вертикалі */
    height: 90vh;
}

.login-page .login-container {
    width: 94%;
    max-width: 400px;
    padding: 40px;
    background-color: #001f3d;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border: 6px solid transparent;
    text-align: center;
    border-image: linear-gradient(45deg, #bb86fc, #03dac6) 1;
    border-radius: 16px;
}

/* Стилі для заголовка */
.login-page .login-form h2 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 28px; /* Збільшений розмір шрифта */
    background-image: linear-gradient(45deg, #bb86fc, #03dac6); /* Градієнт для тексту */
    -webkit-background-clip: text; /* Застосування градієнту до тексту */
    color: transparent; /* Зробимо текст прозорим, щоб показати лише градієнт */
    letter-spacing: 1px; /* Міжбуквінний інтервал */
}

/* Стилі для інпутів */
.login-page .input-field {
    width: 94%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #fff; /* Білий контур для полів */
    background-color: #001f3d; /* Темно-синій фон для інпутів */
    color: #fff;
    border-radius: 4px;
    font-size: 16px; /* Розмір шрифта */
}

.login-page .input-field::placeholder {
    color: #bbb; /* Світло-сірий колір для тексту placeholder */
}

/* Стилі для кнопки увійти */
.login-page .submit-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(45deg, #bb86fc, #03dac6); /* Градієнт для кнопки */
    color: #fff; /* Білий колір для тексту */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Відступ знизу */
}

/* Графічний ефект для кнопки при наведенні */
.login-page .submit-button:hover {
    background: linear-gradient(45deg, #018786, #bb86fc); /* Градієнт для hover */
}

/* Стилі для лінка на реєстрацію */
.login-page .register-link {
    text-align: center;
    margin-top: 20px;
}

.login-page .register-link span {
    color: #bbb;
}

.login-page .register-button {
    padding: 8px 12px;
    background-color: transparent;
    color: #bb86fc;
    border: 1px solid #bb86fc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Графічний ефект для кнопки реєстрації при наведенні */
.login-page .register-button:hover {
    background-color: #bb86fc;
    color: #001f3d;
}

/* Стилі для тексту реєстрації */
.login-page .register-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -5px;
}

/* Стилі для лінка "Створити" */
.login-page .register-link {
    color: #bb86fc;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 8px; /* Відступ між "Немає облікового запису?" і "Створити" */
}

/* Графічний ефект для кнопки реєстрації при наведенні */
.login-page .register-link:hover {
    color: #03dac6;
}

/* Стиль для повідомлення про помилку */
.error-message {
    color: #ff4081; /* Червоний колір для помилок */
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

/* Стиль для полів з помилкою */
.input-error {
    border-color: #ff4081; /* Червона рамка */
    background-color: #3b2c3b; /* Легке затемнення фону */
}
